[Unit]
Description=Discord role bot service

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/role_reaction_bot
EnvironmentFile=/etc/sysconfig/role_bot
ExecStart=/usr/bin/python3 role_bot.py
Restart=always

[Install]
WantedBy=multi-user.target
